.main-box {
    display: flex;
    justify-content: space-between;  
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
  }
  
  .sub-box {
    display: flex;
    flex-direction: row;
  }
  
  .sub1 {
    display: flex;
  }
  
  .sub2 {
    margin-left: 10px;
  }