.main-box {
    display: flex;
    flex-direction: column;
    
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    position: relative;
    left: 0%
  }
  
  .center {
    align-self: center;
  }
  
  .right {
    align-self: flex-end;
  
  }