.box {
    width: 200px;
    border: 50px solid red;
    padding: 50px;
    margin-bottom: 20px;
  }
  
  .green {
    border-color: green;
  
  /*   display: none; */
  /*   visibility: hidden; */
  /*   display: none;은 공간 자체를 없앰 */
  }
  
  .blue {
    border-color: blue;
  
  }
  
  .extra {
      border-color: #3498db;
  }